.azeret-mono{
  <font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;}

  /* header styles */
  header{background-image: url(/assets/Hero-bg.png); margin: 131px 0px;}
.banner{display: block ; margin: 26px 221px 44px ; align-items: center; justify-content: center; text-align: center;}

main{text-align: center;}
  
.group{
    width: 240px;
    height: 240px;
    margin-top: 26px ;
}

  
.header-title{
    color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
text-align: center;
margin-bottom: 0px;
  }

.header-subtitle{color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
margin-top: 24px;
margin-bottom: 32px;}

.btn-1{
        border-radius: 8px;
        background: rgb(13, 19, 33);
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 600;
        padding: 21px 24px 21px 24px;
        margin-bottom: 44px;

    }
.btn-1a{color: rgb(255, 255, 255); text-decoration: none;}    

    /* second slide */

    .sec-1{margin: 97px;}
    .subheader{margin: 48px;}

    .subheader-title{color: rgb(13, 19, 33);
        font-size: 32px;
        font-weight: 800;
        text-align: center;
    margin-bottom: 0px;}

        .subheader-subtitle{color: rgb(13, 19, 33);
            font-size: 16px;
            font-weight: 400;;
            text-align: center;
        margin-top: 24px;}

.boxes{display: block; margin: 48px;}

.box{display: flex; justify-content: space-between; padding: 48px;}

.boxcontent>h3{color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
margin-bottom: 16px;}

.boxcontent>p {color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
margin-bottom: 32px;}

.boxbtn{ width: 150px;
    height: 48px;
    gap: 10;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
background-color: white;
color: rgb(13, 19, 33)
font-size: 20px;
font-weight: 600;
text-align: center;
}
.boxbtna{color: rgb(13, 19, 33);text-decoration: none; }

/* section 2 */
iframe{width: 1140px; height: 614px; padding: 80px 32px 32px 32px;}

/* section 3 */
.sec-3{margin-top: 183px;}
.sec3boxes{display: flex; padding: 48px;}
.sec3box{text-align: left; padding: 40px; margin: 0px 12px; border-radius: 16px;}
.boxtitle{color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}
.boxsubtitle{color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        }
.sec3a{color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;}
.sec3b1{background-color: rgba(255, 76, 30, 0.05);}
.sec3b2{background-color: rgba(0, 76, 232, 0.05);;}
.sec3b3{background-color: rgba(255, 223, 0, 0.05);;}

/* section 4 */
.sec-4{background-image: url(/assets/handshake.jpg); width: 1140px; height: 313px; align-items: center; justify-content: center; background-position:center; margin: 49px 150px; border-radius: 16px}
.sec4{padding: 1px}
.INStitle{color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
margin-top: 64px;}
.INSsubtitle{color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400; 
    opacity: 0.7;}    
.form{display: flex; padding: 32px 150px; background-color: rgba(13, 19, 33, 0.03); align-items: center; justify-content: center;}
.textbox{width: 548px;
     height: 55px; 
     border-radius: 8px; 
     margin-right: 8px;}

.submit{width:120px; height: 59px; border-radius: 8px; border: none; background-color: rgb(255, 255, 255); margin-left: 8px;}

/* footer */
footer{background-color: rgba(13, 19, 33, 0.03);}
.icons{display: flex; justify-content: space-between; padding: 32px 150px;}